page-trivia {

    // .select-md {
    //  padding: 15px 15px 20px 20px !important;
    // } 

    // .ion-select {
    //     display: -webkit-flex;
    //     display: -ms-flexbox;
    //     display: flex;
    //     overflow: hidden;
    //     max-width: 100% !important;
    // }    

    .right-answer{
        text-align:center;
        background-color: #42f48c;
        width:100%;
        // padding-left: 0px !important;
        // padding-right: 0px !important;
        height: 35px;
        color: white;
    } 

    .wrong-answer{
        text-align:center;
        background-color: #f44242;
        width:100%;
        // padding-left: 0px !important;
        // padding-right: 0px !important;
        height: 35px;
        color: white;
    }

    .right-txt{
        font-size: 20px;
        text-align: right;
    }

    .wrong-txt{
        font-size: 20px;
        text-align: right;
    }

    ion-grid {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0px !important;
        width: 100%;

    }

    .icon-right{
        font-size: 25px;
    }
    
    .icon-wrong{
        font-size: 25px;
    }
}
