page-trivia {

    .select-md {
     padding: 15px 15px 20px 20px !important;
    } 
    .ion-select {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100% !important;
    }     

}
