page-livevoteing {

    .card-title-md {
        display: block;
        font-size: 2.4rem;
        margin-top: 40px;
        text-align: center;
        line-height: 1.2;
        color: #222;
        font-weight: bold;
    }
    .card-title-ios {
        display: block;
        font-size: 2.4rem;
        margin-top: 40px;
        text-align: center;
        line-height: 1.2;
        color: #222;
        font-weight: bold;
    }


}
